.projectcards{
    display: flex;
    padding: 30px;
    gap: 3rem;
    flex-wrap: wrap;

}



.contents{
    display: flex;
    text-align: center;
    color: white;
    

  
  }
  .aboutme{
    display: flex;
    text-align: center;
    color: white;
  }
.intro{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    gap: 6.5rem;
    min-width: 500px;
    margin-right: 100px;
    flex-wrap: wrap;





}


.picture{
margin-right: 100px;
margin-top: 35px;
}
  


.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagescontainer{
    display: flex;

    gap: 23rem;

}
.Projects{
    display: flex;

    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding: 40px;

}

.earthcontainer{
    width: 688px;
    height: 688px;
    overflow: hidden;
    min-width: auto;
    /* margin-top: 50px; */

}

.aboutm{
    font-size: 35px;
    color: white;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    text-align: start;
    margin-right: 10px;
}