body{
  background-color: rgb(24, 24, 26);
  
 
}
.contents{
  display: flex;
  text-align: center;
  color: white;
  gap: 4rm;

}
.intro{
  min-width: 100px;
}
.picture{
  margin-right: 1000px;
}

/* .picture{
  color: white;
} */