body{
  background-color: rgb(24, 24, 26);
  
 
}
.contents{
  display: flex;
  text-align: center;
  color: white;

}
.intro{
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content: center;
  gap: 2rem;
  min-width: 100px;
}
.picture{
  margin-right: 100px;
}

