@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.web{

  margin : 0;
  font-family: 'Poppins', sans-serif;
  color: white;
  background: rgb(23, 22, 24);
  height: 100%;


}



section{
  
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  padding: 100px 20vw;
  font-size: 23px;

}
/* body{
  background: rgb(23, 22, 24);
} */
.blue{
  background: blue;
}
.red{
  background: red;
}
.cyan{
  background: cyan;
}
.green{
  background: lightgreen;
}


.curve{
  position: absolute;
  height: 225px;
  width: 100%;
  bottom:0;
}
/* .curve::before{
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: rgb(23, 22, 24);
  using pure css for curves 
  transform: translate(85%,60%);
}
.curve::after{
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: blue;
  using pure css for curves 
  transform: translate(-4%, 40%);
  we can use tools like shape divider to do this easier

} */