@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@300&family=Poppins:wght@500&family=Roboto+Slab&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@300&family=Outfit:wght@500;600&family=Poppins:wght@500&family=Roboto+Slab&family=Ubuntu:wght@500&display=swap');


.header{
    font-size: 80px;
    color: white;
    display: inline-block;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Roboto Slab', serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Outfit', sans-serif;



    max-height: 100px;
    align-items: start;
    /* margin-bottom: 50px; */
}
.about{
    font-size: 80px;
    color: white;
    display: inline-block;
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Outfit', sans-serif;


    max-height: 100px;
    align-items: start;
    margin-bottom: 50px;
}
.small{
    font-size: 35px;
    color: white;
    display: inline-block;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Roboto Slab', serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Outfit', sans-serif;



    text-align: start;


}
.span{
    display: inline-block;
}
.Projects{
    font-size: 80px;
    color: white;
    display: inline-block;
    /* font-family: 'Roboto Slab', serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Outfit', sans-serif;


    max-height: 100px;
    align-items: center;


}