@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Slab&display=swap');



.imageContainer img{
    width: 400px;
    object-fit: contain;
    overflow: hidden;
    display: block;
    
}
.imageContainer{
    overflow: hidden;
    
    height: 300px;

}
.cardContainer{
    /* background-color: cyan; */
    color: white;
    background-color: rgb(46, 44, 56); 
    width: 400px;
    height: 470px;
    border-radius: 15px;
    overflow: hidden;
    

}
.Name{
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Outfit', sans-serif;

    font-weight: bold;
    text-align: start;
    font-size: 20px;
}
.description{
    margin-top: 5px;
    font-family: 'Outfit', sans-serif;

    /* font-family: 'Roboto Slab', serif; */
    /* font-weight: bold; */

}
.textContainer{
    padding: 5px;
    margin-left: 10px;
    height: 100px;
    

    
}
.used{
    margin-top: 5px;
    font-family: 'Outfit', sans-serif;

    /* font-family: 'Roboto Slab', serif; */
    /* font-weight: bold; */
}